/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoserif/v13/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuii32UGoVldX6UgfjL4-3sMM_kB_qXSEX5KSh0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoserif/v13/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuii32UGoVldX6UgfjL4-3sMM_kB_qXSEX5KSh0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.modal_container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}

.modal_container.active {
  visibility: visible;
  z-index: 100;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8274509804);
  transition: opacity 0.4s 0.2s ease-out;
}

.modal_container.active .overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  visibility: hidden;
  max-width: 375px;
  min-width: 300px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.modal_container.active .modal {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.modal_btn {
  cursor: pointer;
}

.close_modal {
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FC0000;
  color: #E5E5E5;
  cursor: pointer;
}

#modal_setting_tittle {
  margin: 5px 0 30px 0;
}
#modal_setting_tittle + div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 65px;
}

#font_choice {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#font_choice div {
  display: flex;
  align-items: center;
}
#font_choice input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border: 1px solid #FCA311;
  border-radius: 50%;
}
#font_choice :checked {
  background-color: #FCA311;
}

#toggle_div {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  border: solid 1px #14213D;
  background-color: #FCFCFC;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

#toggle_div::before {
  margin-left: 0;
  content: none;
}

#toggle_div::after {
  content: "☽";
  margin-right: 5px;
  margin-bottom: 2px;
}

#toggle_btn {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 25px;
  cursor: pointer;
  border: solid 1px #FCA311;
  background-color: #14213D;
  box-shadow: 0px 5px 5px 0px rgba(229, 229, 229, 0.25);
}

.dark_mode .modal {
  background-color: #030303;
  color: #E5E5E5;
}

.dark_mode #toggle_div {
  border: solid 1px #FCA311;
  background-color: #FCFCFC;
  box-shadow: 0px 5px 5px 0px rgba(229, 229, 229, 0.25);
}

.dark_mode #toggle_div::before {
  margin-left: 5px;
  margin-bottom: 2px;
  content: "☀";
  color: black;
}

.dark_mode #toggle_div::after {
  content: none;
  margin-right: 0;
}

.dark_mode #toggle_btn {
  border: solid 1px #14213D;
  background-color: #FCA311;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.tooltip_container {
  position: relative;
}

.tooltip_container .tooltip_content {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_container .tooltip_content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip_container:hover .tooltip_content {
  visibility: visible;
  opacity: 1;
}

#container_credits {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#component_credits {
  width: 600px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#component_credits h1 {
  margin: 5px 0 30px 0;
}
#component_credits h2 {
  margin: 25px 0 30px 0;
  text-align: center;
}
#component_credits p {
  margin-bottom: 5px;
}

.dark_mode_credit_page {
  background-color: #030303;
  color: #E5E5E5;
}

:root {
  font-size: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 25px;
  box-sizing: border-box;
}

.light_mode_body {
  background-color: #FCFCFC;
  color: #232323;
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  border: solid 1px #14213D;
  border-radius: 10px;
}

#logo_setting img {
  height: 25px;
  width: auto;
  filter: invert(9%) sepia(64%) saturate(983%) hue-rotate(189deg) brightness(97%) contrast(93%);
}

#logo_setting:hover img {
  filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 40px 65px 0 70px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #FCA311;
}

main {
  display: flex;
  column-gap: 40px;
}

img {
  display: block;
}

#credits_page_link {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  opacity: 0.8;
}

#left_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sticky {
  position: sticky;
  top: 10%;
  margin-left: -25px;
}

#right_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search_bar {
  margin: 55px 0 25px 0;
  display: flex;
  align-items: center;
}
#search_bar input {
  height: 45px;
  width: 60%;
  min-width: 425px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #14213D;
  border-radius: 20px;
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  text-indent: 15px;
}
#search_bar input:focus {
  border: none;
  outline: 1px solid #FCA311;
}
#search_bar input::placeholder {
  color: #232323;
  opacity: 0.5;
}
#search_bar.not_valid input:invalid::placeholder {
  color: #FC0000;
  opacity: 1;
}
#search_bar button {
  z-index: 2;
  width: 25px;
  height: 25px;
  transform: translate(-150%);
  background-color: transparent;
  border: none;
  background-image: url(data:image/webp;base64,UklGRioBAABXRUJQVlA4WAoAAAAQAAAADQAAFgAAQUxQSHsAAAABcEhbe+R8CL9Ba1CEjEERUoMgBGGQfoRB+BGC8Lpk6QYQEWrbtmGk9DFnSLJ6wFFOepkanZEkXcA30+ZwkYKqzp2wTGjQKU4eueENGzEaaCKsyvSc8YKPBNmCvacS/Q+SLPU/UAo626aX53IAXDWzsk9JtCkK0p+sXgQAVlA4IIgAAABQBACdASoOABcALh0UikUQ0NDAwA4lkAJ0yhHA3kCyZuAA/QDrMvJPCgQAAP7+xw+6LaoHj8ij/moKqHY41fXECSvri/XNfw7P+ZRftVrDPD2HgsPAkf/9GDbQ5HfWDBLVO8twz3/3j///ebLU89A/8PztYUUJIzdn/7yWNcVKPgX9ETA1wAAA);
  background-repeat: no-repeat;
}
#search_bar input:hover,
#search_bar label:hover,
#search_bar button:hover {
  cursor: pointer;
  opacity: 0.6;
}

#div_resultat {
  min-width: 750px;
  padding-right: 30px;
}

dl {
  margin: 0;
}

.panel {
  border: 1px solid #14213D;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-top: 40px;
}

.panel.active {
  border-color: #FCA311;
}

.opening_panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  cursor: pointer;
}

.opening_panel::after {
  content: "^"; /*\005E \1431*/
  transform: rotate(0.5turn);
  color: #FCA311;
  font-size: 25px;
  margin-bottom: 5px;
}

.opening_panel.active::after {
  transform: rotate(1turn);
  margin-bottom: 0;
  margin-top: 5px;
}

.opening_panel div {
  display: flex;
  column-gap: 15px;
}

dt.active + dd {
  height: 100%;
}

dd {
  margin: 0;
  height: 0px;
  overflow: hidden;
}
dd h2 {
  margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #030303;
    color: #E5E5E5;
  }
}
.dark_mode_body {
  background-color: #030303;
  color: #E5E5E5;
}

.dark_mode #logo {
  border-color: #FCA311;
}

.dark_mode a {
  color: #E5E5E5;
}

.dark_mode a:hover {
  color: #FCA311;
}

.dark_mode #sticky {
  filter: invert(100%);
}

.dark_mode #logo_setting img {
  filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%);
}

.dark_mode #logo_setting img:hover {
  opacity: 0.5;
}

.dark_mode #search_bar input {
  border-color: #FCA311;
  box-shadow: 5px 10px 5px 0px rgba(229, 229, 229, 0.25);
  background-color: #030303;
  color: #E5E5E5;
}
.dark_mode #search_bar input:focus {
  background-color: #14213D;
}
.dark_mode #search_bar input::placeholder {
  color: #E5E5E5;
}
.dark_mode #search_bar button {
  filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%);
}

@media screen and (max-width: 1140px) {
  body {
    padding: 25px;
  }
  main {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  h1 {
    margin: 40px 0 40px 0;
  }
  #logo {
    margin-left: 0;
  }
  #sticky {
    align-self: center;
  }
  #credits_page_link {
    text-align: center;
    font-size: 8px;
    font-style: italic;
    opacity: 0.8;
  }
  #search_bar {
    margin-top: 5px;
  }
  #div_resultat {
    padding-right: 0;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  #sticky {
    display: none;
  }
  #search_bar {
    margin: 0;
    margin-left: 25px;
  }
  #search_bar input {
    min-width: 335px;
    padding: 0;
  }
  #div_resultat {
    min-width: 335px;
  }
  .opening_panel > div {
    flex-direction: column;
    row-gap: 5px;
  }
}
