#container_credits{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#component_credits {
    width: 600px;
    transform: translate(0, -4.6875rem);
    padding: 1.5625rem;
    @include BoxSizing(border-box);
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0.3125rem 0 1.875rem 0;
    }

    h2 {
        margin: 1.5625rem 0 1.875rem 0;
        text-align: center;
    }

    p {
        margin-bottom: 0.3125rem;
    }
}

.dark_mode_credit_page {
    @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
}