
$colorBgLightTheme: #FCFCFC;
$colorTxtLightTheme: #232323;
$colorShadowLightTeme: #000000; /*opacity 0.25*/
$colorBgDarkTheme:#030303;
$colorTxtDarkTheme: #E5E5E5;
$colorShadowLightTeme: #E5E5E5;  /*opacity 0.25*/
$colorDarkBlue: #14213D;
$colorSepia: #FCA311;
$colorError: #FC0000;

@mixin theme($theme: $colorBgLightTheme, $txtColor: $colorTxtLightTheme){
    background-color: $theme;
    color: $txtColor;
    
}
