@import "./sass_libs/fonts_faces.scss";
@import "./sass_libs/mixins_variables.scss";
@import "./sass_libs/modal_windows.scss";



:root{
    font-size: 100%;
}

body{
    margin: 0;
}

#container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#component{
    // TODO: METTRE UN BORDER AUTOUR DU COMPOSANT COULEUR BLUE POUR LIGHT THEME ET SEPIA POUR POUR DARK THEME
    border: solid 2px red; 
    width: 1440px;
    display: flex;
    gap: 20px;

}

// general typography 
h1{
    text-align: center;
    margin: 40px 65px 0 70px;
}


p{
    margin: 0;
}

img{
    display: block; 
}

// image on left part
#sticky{
    position: sticky;
    top: 10%;
    z-index: -1;
}
// filter: invert(100%);

// right part of component
#right_col{
    display: flex;
    flex-direction: column;
}

//buttons for modals windows settings and infos
#setting_info{
    display: flex;
}

#setting img{
    width: 25px;
    height: 25px;
}


#info{
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 20px;
    color: grey;
    border: 1.5px solid ;
    border-radius: 50%;
}


// #text{
//     display: flex;
//     flex-direction: column;
// }

// #search_bar{
    
//     display: flex;
// }
// #soleil{
//     color: #FCA311;
// }

// .light_theme{
//     @include theme;
// }

// .dark_theme {
//     @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
// }

@media (prefers-color-scheme: dark)
{
    #component{
        @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
    }
    
}