@import "./sass_libs/fonts_faces.scss";
@import "./sass_libs/mixins_variables.scss";
@import "./sass_libs/modalWindows.scss";
@import "./sass_libs/tooltips.scss";
@import "./sass_libs/credits.scss";

:root {
    font-size: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 25px;
    box-sizing: border-box;    
}

.light_mode_body{
    @include theme($theme: $colorBgLightTheme, $txtColor: $colorTxtLightTheme);
}

header{
    display: flex;
    justify-content: space-between;
}

#logo {
    border: solid 1px $colorDarkBlue;
    border-radius: 10px;  
}

//buttons for modals windows settings
#logo_setting img {
    height: 25px;
    width: auto;
    filter: invert(9%) sepia(64%) saturate(983%) hue-rotate(189deg) brightness(97%) contrast(93%); //dark blue
}

#logo_setting:hover img{
    filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%); //sepia
}

// general typography and settings
h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 40px 65px 0 70px;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    color: $colorTxtLightTheme;
}

a:hover {
    color: $colorSepia;
}

main{
    display: flex;
    column-gap: 40px;
}

img {
    display: block;
}

#credits_page_link{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    opacity: 0.8;
}

//left part
#left_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sticky {
    position: sticky;
    top: 10%;  
    margin-left: -25px;
}

// right part of component
#right_col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Form : search Bar
#search_bar {
    margin: 55px 0 25px 50px;
    display: flex;
    align-items: center;

    input {
        height: 45px;
        width: 60%;
        min-width: 425px;
        padding: 0 20px;
        @include BoxSizing(border-box);
        border: 1px solid $colorDarkBlue;
        border-radius: 20px;
        box-shadow: 5px 10px 5px 0px $colorShadowLightTeme;
        position: relative;
        text-indent: 15px;
    }

    input:focus {
        border: none;
        outline: 1px solid $colorSepia;
    }

    input::placeholder {
        color: $colorTxtLightTheme;
        opacity: 0.5;
    }

    &.not_valid input:invalid::placeholder {
        color: $colorError;
        opacity: 1;
    }

    #erase_data{
        z-index: 2;
        width: 25px;
        height: 25px;
        font-weight: 700;
        transform: translate(-300%);
        background-color: transparent;
        border: none;
    }

    #submit {
        z-index: 2;
        width: 25px;
        height: 25px;
        transform: translate(-250%);
        background-color: transparent;
        border: none;
        background-image: url("./ressources/images/loupe.webp");
        background-repeat: no-repeat;
    }

    input:hover,
    label:hover,
    #erase_data:hover,
    #submit:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

//results part
#div_resultat{
    min-width: 750px;
    max-width: 1225px;
    padding-right: 30px;
}

dl{
    margin: 0; 
}

.panel{
    border: 1px solid $colorDarkBlue;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin-top: 40px;
}

.panel.active{
    border-color: $colorSepia;
}

.opening_panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
}

.opening_panel::after{
    content: '\005E '; /*\005E \1431*/
    transform:rotate(0.5turn);
    color: $colorSepia;
    font-size: 25px;
    margin-bottom: 5px;
}

.opening_panel.active::after{
    transform:rotate(1turn);
    margin-bottom: 0;
    margin-top: 5px;
}

.opening_panel > div{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.opening_panel > div div{
    display: flex;
    column-gap: 15px;
}

dt.active + dd{
    height: 100%;
}

dd{
    margin: 0;
    height: 0px;   
    overflow: hidden;

    h2{
        margin-top: 5px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.audio_display:hover{
    cursor: pointer;
    color: $colorSepia;
}

.not_display_item{
    display: none;
}

.hide_item{
    visibility: hidden;
}

.show_item{
    visibility: visible;
}

.not_found{
    border: none;
    color: $colorError;
    text-align: center;
}

.on_error_audio{
    color: $colorError;
}

//dark mode 
@media (prefers-color-scheme: dark) {
    body {
        @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
    }
}

.dark_mode_body {
    @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
}

.dark_mode #logo {
    border-color: $colorSepia;
}

.dark_mode a {
    color: $colorTxtDarkTheme;
}

.dark_mode a:hover {
    color: $colorSepia;
}

.dark_mode #sticky {
    filter: invert(100%);
}

.dark_mode #logo_setting img{
    filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%); //sepia
}

.dark_mode #logo_setting img:hover {
    opacity: 0.5;
}

// Form : search Bar
.dark_mode #search_bar {
    input {
        border-color: $colorSepia;
        box-shadow: 5px 10px 5px 0px $colorShadowDarkTeme;
        background-color: $colorBgDarkTheme;
        color: $colorTxtDarkTheme;
    }

    input:focus {
        background-color: $colorDarkBlue;
    }

    input::placeholder {
        color: $colorTxtDarkTheme;
    }

    button {
        filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%); //sepia
    }
}

.dark_mode .audio_display{
    color: $colorTxtDarkTheme;
}

.dark_mode .audio_display:hover{
    color: $colorSepia;
}

.light_favicon{
    filter: invert(100%);
}

@media screen and (max-width: 1140px) {
    
    main{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;    
    }
    
    h1 {
        margin: 40px 0 40px 0;
    }

    #logo{
        margin-left: 0;
    }

    #sticky{
        align-self: center;
    }

    #credits_page_link{
        text-align: center;
        font-size: 8px;
        font-style: italic;
        opacity: 0.8;
    }
    #search_bar {
        margin-top: 5px;
    }

    #div_resultat{
        padding-right: 0;
        max-width: 891px;
    }
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    #sticky{
        display: none;
    }

    // Form : search Bar
    #search_bar {
        margin: 0;
        margin-left: 50px;

        input {
            min-width: 300px;
            padding: 0;
        }

    }

    #div_resultat{
        min-width: 335px;
        max-width: 700px;
    }

    .opening_panel > div{
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
    }

}

@media screen and (max-width: 750px) {
    #div_resultat{
        max-width: 335px;
        max-width: 350px;
    }
}

@media screen and (max-width: 375px) {
    
    // Form : search Bar
    #search_bar {
        input {
            min-width: 270px;
            padding: 0;
        }

    }

    #div_resultat{
        min-width: 270px;
        max-width: 270px;
    }
}