@import "./sass_libs/fonts_faces.scss";
@import "./sass_libs/mixins_variables.scss";
@import "./sass_libs/modal_windows.scss";

:root{
    font-size: 100%;
}

body{
    margin: 0;
}

#container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#component{
    // TODO: METTRE UN BORDER AUTOUR DU COMPOSANT COULEUR BLUE POUR LIGHT THEME ET SEPIA POUR POUR DARK THEME
    border: solid 0.5px $colorShadowLightTeme; 
    border-radius: 5px;
    width: 1440px;
    padding: 25px 25px 25px 0;
    box-sizing: border-box;
    display: flex;
    gap: 20px;

}

// general typography and settings
h1{
    text-align: center;
    margin: 40px 65px 0 70px;
}


p{
    margin: 0;
}

a{
    text-decoration: none;
    
}

img{
    display: block; 
}

//left part
#logo{
    margin-left: 25px;
    border: solid 1px $colorDarkBlue;
    border-radius: 10px;
}

#sticky{
    position: sticky;
    top: 10%;
    z-index: -1;
}
// filter: invert(100%);

// right part of component
#right_col{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div:nth-child(1){
        align-self: flex-end;
    }
}


//buttons for modals windows settings and infos
#setting_info{
    display: flex;
    column-gap: 5px;
}

#setting_info img{
    width: 25px;
    height: 25px;
    filter: invert(9%) sepia(64%) saturate(983%) hue-rotate(189deg) brightness(97%) contrast(93%); //dark blue
    // filter: invert(58%) sepia(97%) saturate(633%) hue-rotate(351deg) brightness(102%) contrast(98%); //sepia
}

#info_open{
    width: 21px;
    height: 21px;
    text-align: center;
    font-size: 20px;
    color: $colorDarkBlue;
    border: 1.5px solid $colorDarkBlue;
    border-radius: 50%;
}

// Form : search Bar
#searchBar{
    margin: 55px 0 65px 0;
    display: flex;
    align-items: center;
    
    input{
        @include Appearance(none);
        @include BoxSizing(content-box);
        height: 45px;
        width: 60%;
        min-width: 425px;
        padding: 0 20px;
        border: 1px solid $colorDarkBlue;
        border-radius: 20px;
        box-shadow: 5px 10px 5px 0px $colorShadowLightTeme;
    
    
    }
    
    button{
        margin-left: -50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 700;
        color: black;
        text-transform: none;
        overflow: visible;
    }
}



@media (prefers-color-scheme: dark)
{
    #component{
        @include theme($theme: $colorBgDarkTheme, $txtColor: $colorTxtDarkTheme);
    }
    
}